<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="RestAssured_Purgomalum_APITestSuite">
  <test thread-count="5" name="APITest">
    <classes>
      <class name="com.api.tests.APITests"/>
    </classes>
  </test> <!-- APITest -->
</suite> <!-- RestAssured_Purgomalum_APITestSuite -->
